// *******************
// ! Color Variables !
// *******************

// * Button Colors
$red-dark: #B60E2A;  // ? Main color for buttons
$red-light: #EC1337;  // ? Optional button color on hover perhaps?
$off-white: #E2DFDF;  // ? Secondary Button Color

// * Main Colors
$main-header-color: #222222;  // ? Main Header Color
$page-background-color: #E8D3D0;  // ? Background color for Pages

$font-main: #506369;   //  ? Main Font
$font-secondary: #7F948F; //  ? Secondary Font

$error-text-color: #F21E08;  // ? Error text color

// * Basic Colors
$white: #FFFFFF;  // ? White, simple enough eh?
$black: #000000;

//  * Form Business
$form-text-color: #b4b5bb;  // ? Text color for forms
